body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-white);
  color: var(--main-color);
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.03em;
}

:root {
  --main-color: #212121;
  --brand-color: #2196F3;
  --background-gray: #2f303a;
  --background-bright: #F5F4FA;
  --extra-gray: #757575;
  --main-white: #FFFFFF;
  --total-black: #000000;
  --color-contact: rgba(255, 255, 255, 0.6);
  --border-nav: #ECECEC;
  --social-network: #AFB1B8;
  --social-network-dark: rgba(255, 255, 255, 0.1);
  --overlay-blue: rgba(33, 150, 243, 0.9);
  --black-transparent: rgba(47, 48, 58, 0.8);
  --backdrop: rgba(0, 0, 0, 0.2);
  --btn-border: rgba(0, 0, 0, 0.1);
  --label-box: #757575;
  --fieldset: rgba(33, 33, 33, 0.2);
  --subscription: rgba(255, 255, 255, 0.3);
}

h4 {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.d-none {
  display: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__accent {
  color: var(--brand-color);
}
.logo--theme-dark {
  color: var(--total-black);
  position: absolute;
  left: 15px;
  top: 16px;
}
.logo--theme-light {
  color: var(--main-white);
}

@media screen and (min-width: 768px) {
  .logo--theme-dark {
    position: static;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: var(--main-white);
  position: fixed;
  padding: 48px 40px;
}
.mobile-menu__button {
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background-color: inherit;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.mobile-menu__item:not(:first-child) {
  margin-top: 36px;
}
.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  bottom: 134px;
}
.mobile-menu__contact {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__contact--phone {
  font-size: 34px;
  color: var(--brand-color);
  margin-bottom: 32px;
}
.mobile-menu__contact--mail {
  font-size: 24px;
  color: var(--extra-gray);
}
.mobile-menu__social-links {
  display: flex;
  position: absolute;
  bottom: 48px;
}
.mobile-menu__element {
  margin-right: 10px;
}
.mobile-menu__element:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--fieldset);
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__button {
  border: none;
  background-color: inherit;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .header--underline {
    border-bottom: 1px solid var(--border-nav);
  }
}
.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: inline-block;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 60px;
  }
  .menu__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--brand-color);
  }
}
@media screen and (min-width: 1200px) {
  .menu__list {
    gap: 46px;
  }
}
.menu__link--accent {
  color: var(--brand-color);
}
.menu__link--accent::after {
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  transform: translateY(20px);
}

.menu__link--width::after {
  width: 58px;
}

@media screen and (min-width: 1200px) {
  .menu__link--accent::after {
    transform: translateY(30px);
  }
}
.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: inline-block;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--extra-gray);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--brand-color);
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
  }
  .contact__link--premiere {
    margin-right: 30px;
  }
}
.introduction {
  height: 400px;
  padding: 118px 57px;
  background-color: var(--background-gray);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-picture.jpg);
  background-image: cover;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white);
  margin: auto;
}
.introduction__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white);
  background-color: var(--brand-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 42px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .introduction {
    padding: 118px 200px;
  }
}
@media screen and (min-width: 1200px) {
  .introduction {
    height: 600px;
    margin: 0 auto;
    padding: 200px 200px;
    max-width: 1600px;
  }
  .introduction__text {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}
.sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.sliders__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sliders__svg {
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-bright);
  padding-top: 25px;
  padding-bottom: 25px;
}
.sliders__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--extra-gray);
  margin: 0;
}
.sliders__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .sliders {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
  }
  .sliders__wrapper {
    width: 354px;
    align-items: flex-start;
  }
  .sliders__svg {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .sliders__wrapper {
    width: 270px;
  }
  .sliders__svg {
    width: 270px;
  }
}
.services {
  display: none;
}

@media (min-width: 1200px) {
  .services {
    display: block;
    padding-top: 0;
  }
  .services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .services__img {
    display: block;
  }
  .services__unit {
    position: relative;
  }
  .services__text {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-white);
    margin: 0;
    background-color: var(--black-transparent);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.team {
  width: 100%;
  background-color: var(--background-bright);
}
.team__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.team__element {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--extra-gray);
  background-color: var(--main-white);
  margin: 0;
  width: 450px;
  height: 622px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  color: var(--main-color);
  padding-bottom: 10px;
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__media {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}
.team__icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-white);
  fill: var(--social-network);
  padding-top: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon:hover {
  background-color: var(--brand-color);
  fill: var(--main-white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .team__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .team__element {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team__element {
    width: 270px;
    height: 428px;
  }
}
.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--social-network);
  fill: currentColor;
  border: 1px solid currentColor;
}
.clients__link:hover, .clients__link:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.partition {
  padding-top: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.partition__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-bright);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partition__btn:hover, .partition__btn:focus {
  color: var(--main-white);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery__card {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.gallery__img {
  display: block;
}
.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding-bottom: 4px;
}
.gallery__partition {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--extra-gray);
}
.gallery__element {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  position: absolute;
  background-color: var(--overlay-blue);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item {
  margin: 0;
}
.gallery__item:hover .gallery__overlay {
  transform: translateY(0);
}
.gallery__item:focus .gallery__overlay {
  transform: translateY(0);
}
.gallery__description {
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: var(--main-white);
}

.footer {
  display: flex;
  height: 603px;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-gray);
}
.footer__wrapper {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white);
}
.footer__list {
  margin-top: 20px;
  display: flex;
  padding-left: 0;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer__contact--pale {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  cursor: pointer;
}
.footer__contact--pale:hover, .footer__contact--pale:focus {
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
  .footer__column {
    flex-direction: row;
    gap: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
  .footer__wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
  }
  .footer__list {
    align-items: flex-start;
  }
  .footer__address {
    align-items: flex-start;
  }
  .footer__column {
    gap: 70px;
  }
}
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
  margin: 0;
  margin-bottom: 20px;
}
.media__icons {
  display: flex;
  gap: 10px;
  padding-left: 0;
}
.media__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-network-dark);
  fill: var(--main-white);
  padding-top: 12px;
  padding-left: 12px;
  transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media__link:hover {
  background-color: var(--brand-color);
  fill: var(--main-white);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .media {
    align-items: flex-start;
  }
}
.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.subscription__title {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white);
}
.subscription__form {
  display: flex;
  position: relative;
  width: 450px;
  height: 50px;
  border: 1px solid var(--subscription);
  border-radius: 4px;
}
.subscription__input {
  width: 95%;
  height: 38px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-contact);
  border: 0;
  outline: 0;
  background-color: transparent;
}
.subscription__btn {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.subscription__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .subscription {
    flex-direction: row;
    gap: 12px;
  }
  .subscription__form {
    width: 358px;
  }
  .subscription__title {
    left: 0;
    transform: translateX(0);
  }
}
.backdrop {
  position: relative;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--backdrop);
  scale: 1;
  opacity: 1;
  visibility: visible;
  transition-property: scale, opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.box {
  position: absolute;
  height: 609px;
  width: 450px;
  background-color: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.box__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.box__btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  background-color: var(--main-white);
  border-color: var(--btn-border);
  cursor: pointer;
}
.box__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .box {
    height: 582px;
    width: 528px;
  }
}
.form {
  display: flex;
  position: relative;
  height: 40px;
  border: 1px solid var(--fieldset);
  border-radius: 4px;
  margin-block: 28px;
  align-items: center;
}
.form__svg {
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input {
  border: 0;
  outline: 0;
  width: 90%;
}
.form__title {
  position: absolute;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--label-box);
  top: -18px;
  left: 0;
}
.form__textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 0;
  outline: 0;
  resize: none;
  padding: 12px 16px;
}
.form--comment {
  position: relative;
  height: 120px;
  margin-bottom: 20px;
}

.form:hover {
  border-color: var(--brand-color);
}
.form:hover .form__svg {
  fill: var(--brand-color);
}

.accept {
  border: 0;
  outline: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.accept__text {
  font-size: 12px;
  line-height: 1.16;
  line-height: 1.71;
  color: var(--label-box);
  position: relative;
}
.accept__svg {
  position: absolute;
  top: 3px;
  left: -2px;
  opacity: 0;
}
.accept__text a {
  color: var(--brand-color);
}

input:checked + span .accept__svg {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .accept__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.box__submit {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--brand-color);
  color: var(--main-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
}
.box__send {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */