.backdrop {
    position: relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--backdrop);
    scale: 1;
    opacity: 1;
    visibility: visible;
    transition-property: scale, opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    scale: 0;
}