.box {
    position: absolute;
    background-color: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;

    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        color: var(--main-color);
    }
    &__btn {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        top: 8px;
        right: 8px;
        background-color: var(--main-white);
        border-color: var(--btn-border);
        cursor: pointer;
    }
    &__icon {
        position: absolute;
        display: inline-block; 
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
     }
}

@media screen and (min-width: 1200px) {
    .box {
        height: 582px;
        width: 528px;
    }
}

