.footer {
    display: flex;
    height: 603px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--background-gray);
    &__wrapper {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    &__contact {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-white);
    }
    &__list {
        margin-top: 20px;
        display: flex;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }
    &__address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__column {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 60px;
    }
}
.footer__contact--pale {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-contact);
    cursor: pointer;
    &:hover, &:focus {
        color: var(--brand-color);  
    }
}

@media screen and (min-width: 768px) {
    .footer {
        height: 463px;
        &__column {
            flex-direction: row;
            gap: 144px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        height: 252px;
        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
            gap: 70px;
        }
        &__list {
            align-items: flex-start;
        }
        &__address {
            align-items: flex-start;
        }
        &__column {
            gap: 70px;
        }
    }
}
