.menu {
    display: none;
}

@media screen and (min-width: 768px) {
    display: inline-block;
}

@media screen and (min-width: 1200px) {
    .menu {
        margin-left: 93px;
        &__list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            gap: 46px;
        }
        &__link {
           font-size: 14px; 
           font-weight: 500;
           line-height: 1.14;
           letter-spacing: 0.02em;
           color: var(--main-color);
           text-decoration: none;
           transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           &:hover, &:focus {
            color: var(--brand-color);
        }
        }
    }
}