:root {
    --main-color: #212121;
    --brand-color: #2196F3;
    --background-gray: #2f303a;
    --background-bright: #F5F4FA;
    --extra-gray: #757575;
    --main-white: #FFFFFF;
    --total-black: #000000;
    --color-contact: rgba(255, 255, 255, 0.6);
    --border-nav: #ECECEC;
    --social-network: #AFB1B8;
    --social-network-dark: rgba(255, 255, 255, 0.1);
    --overlay-blue: rgba(33, 150, 243, 0.9);
    --black-transparent: rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
    --btn-border: rgba(0, 0, 0, 0.1);
    --label-box: #757575;
    --fieldset: rgba(33, 33, 33, 0.2);
    --subscription: rgba(255, 255, 255, 0.3);
}